includes:
	#- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	level: 4
	fileExtensions:
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#has an unused parameter#'
